.image-grid-item-img, .np-grid-item img, .np-grid-sect .pq-current, .lms-image-grid .list-active, .np-grid-sect .list-active,
.browse-html img, .np-info-text img, .np-info-text-desktop img, .np-info-text-full img, .np-info-text-full-desktop img, .inline-image {
 border-radius:8px!important;
}

.lms-list img, .pmgr-cover img, .lms-list3 img, .np-info .lms-list img {
 border-radius:4px;
}

.np-image, .np-no-meta-img, .np-image-landscape {
 filter: url('#filter-radius');
}

.np-image-desktop {
 filter: url('#filter-radius-plain');
}
