#sdi_logo, #topGraphicMenu1, #topGraphicMenu2, #statusMessage a, .playericon, .largeAttribute {
 display:none;
}

/* -- Advanced search mods...--  */
#advSearchForm {
 margin-top:-32px;
}
#advSearchForm > table > tbody > tr > td:nth-of-type(1) {
 text-align:right !important;
 padding-right:8px !important;
}
#advSearchForm > table > tbody > tr > td {
 padding-bottom:8px;
}
div#browsedbList {
 margin-left:-8px;
 margin-right:-8px;
}
/* hide add/play/fav and next-page images */
.browsedbLeftControls > a > img {
 display:none;
}
/* Set play icon */
.browsedbLeftControls > a:nth-of-type(1):before {
 font-family: "Material Icons";
 font-size:24px;
 content:"\e039";
 margin-right:4px;
 text-decoration:none;
}
/* Set add icon */
.browsedbLeftControls > a:nth-of-type(2):before {
 font-family: "Material Icons";
 font-size:24px;
 content:"\e148";
 margin-right:4px;
 text-decoration:none;
}
@media (hover: none) and (pointer: coarse) { /* Touch devices */
 .browsedbLeftControls > a:nth-of-type(1):before {
  margin-right:12px;
 }
 .browsedbLeftControls > a:nth-of-type(2):before {
  margin-right:8px;
 }
}
/* Hide favorite button */
.browsedbLeftControls > a:nth-of-type(3) {
 display:none;
}
.pagebar > a, .pagebar > a > img, .pagebar > b, .browsedbLeftControls > a {
 vertical-align:middle;
}
.pagebar > a > img {
 width:24px!important;
 height:24px!important;
}
#statusarea {
 padding-top:16px;
}

#choose_setting {
 position:fixed;
 top:8px;
 left:18px;
 margin-left:-8px;
 margin-bottom:8px;
 font-size:16px !important;
 font-weight:500 !important;
 border-radius: 0px;
}

#choose_setting optgroup {
 font-weight: 400;
}

#statusMessage {
 color:transparent!important;
}

#prefsSubmit {
 color:transparent!important;
 background-color:transparent!important;
}

div#topGraphicMenu3 {
 height:22px;
 background:transparent!important;
}

div#topGraphicBox, td.even, td.odd {
 background:transparent!important;
}

html {
 width:100%;
 height:100%;
}

body {
 margin-top:0px;
}

hr {
 margin-right:8px;
}

td input { /* Fix entry/combo alignment in additional browse modes */
 margin-bottom:-1px;
 padding-bottom:0px;
}

td input[type=checkbox] { /* Fix checkbox in Performance / Custom pre-caching specification */
 margin-top:-6px;
}

/* Advanced search */
.border tbody tr td input[type=text] {
 padding-bottom:1px;
}
.border tbody tr td.content {
 vertical-align: text-bottom !important;
}

.prefDesc, .prefs {
 margin-right:14px;
}

div.prefDesc, p {
 font-size:14px!important;
}

table {
 padding-right:14px;
}

div#innerSettingsBlock {
 width:calc(100vw - 36px)!important;
 padding: 0px 21px 0px 7px;
}

*, body, table, input, select, textarea, p, l {
 font-size:16px !important;
 font-family:Roboto,sans-serif;
 text-rendering: optimizeLegibility;
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

select option[value=INTERFACE_SETTINGS] {
 display: none
}

.homeMenuSection div, .settingSection .groupHead, .settingSection .prefHead {
 background-color: transparent;
 min-height: 15px;
 height: auto !important;
 padding: 8px 6px 4px 0px;
 font-weight: 500;
 text-transform: none;
}

select, input {
 min-height:24px;
 cursor: pointer;
}

input[type="text"], input[type="button"], input[type="submit"], input[type=checkbox], input[type=radio], select {
 -webkit-appearance: none;
 appearance: none;
}

select::-ms-expand {
  display: none;
}

select {
 border: none;
 text-overflow:ellipsis;
 overflow:hidden;
 white-space:nowrap;
 max-width:calc(100vw - 32px);
 border-radius: 0px;
 min-height:26px;
 margin-bottom:1px;
 background-position: 100% center;
 background-repeat: no-repeat;
 padding-right:25px;
}

select:focus {
 outline: none;
}

input[type="text"], input[type="password"], input[type="stdedit"] {
 border: none;
 min-width:80px;
 max-width:calc(100vw - 32px);
 border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="stdedit"]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
 outline: none;
}

input[type="submit"], input[type="button"] {
 border: none;
 border-radius: 3px;
 text-transform: uppercase;
 padding:5px 8px 5px 8px;
 outline: none;
}

input[type=checkbox], input[type=radio] {
 vertical-align: sub;
 width:24px;
 height:24px;
}

input[type=checkbox]:before {
 font-family: "Material Icons";
 font-size:24px;
 content:"\e835";
 /*margin-right:4px;*/
 text-decoration:none;
}

input[type=checkbox]:checked:before {
 content:"\e834";
}

input[type=checkbox], input[type=radio] {
 border:none;
 background-color: transparent;
}

[type="checkbox"]:focus, [type="radio"]:focus {
 border-bottom: none !important;
}

input[type=radio]:before {
 vertical-align: sub;
 font-family: "Material Icons";
 font-size:24px;
 content:"\e836";
 /*margin-right:4px;*/
 text-decoration:none;
}

input[type=radio]:checked:before {
 content:"\e837 ";
}

[type="checkbox"]:before, [type="radio"]:before {
 border: 1px solid transparent;
}

#saveSettings {
 color: white !important;
 background-color: #316dd3;
 margin-top:8px;
}

#saveSettings:hover, #saveSettings:focus {
 background-color: #417de3;
}

#saveSettings:active {
 background-color: #518df3;
}

::-webkit-scrollbar {
 max-height:10px;
 max-width:10px;
}
