html, body, .stdedit, select, input[type="text"], div#topGraphicMenu3, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 background:#424242 !important;
}

html, body, .homeMenuSection div, .settingSection div, #playingStatus, #currentPlaylistLabel, .stdedit, .exlisting, p, ol, ul, dl, dd, td, .exboldlisting, th, h5, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 color: white !important;
}

hr {
 border:0.5px solid #;
}

a {
 color: #82b1ff;
}

select {
 border-bottom: 1px solid white;
}

input[type="text"], input[type="password"] {
 color:white;
 border-bottom: 1px solid white;
}

input[type="text"]:focus, input[type="password"]:focus, .stdedit:focus {
 border-bottom: 1px solid #82b1ff;
}

input[type="submit"], input[type="button"] {
 color: white !important;
 background-color: #5F5F5F;
 border-bottom: 1px solid #343434;
}

input[type="submit"]:hover, input[type="button"]:hover {
 background-color: #6F6F6F;
}

input[type="submit"]:active, input[type="button"]:active {
 border-bottom: 1px solid transparent;
}

::-webkit-scrollbar {
 background:#3d3d3d;
}

::-webkit-scrollbar-thumb {
 background:#777;
}

::-webkit-scrollbar-corner {
 background:#333;
}
