#sdi_logo, #topGraphicMenu1, #topGraphicMenu2, #statusMessage a, .playericon {
 display:none;
}

#choose_setting {
 margin-left:-8px;
 margin-bottom:8px;
}

#statusMessage {
 color:transparent!important;
}

div#topGraphicMenu3 {
 height:22px;
 background:transparent!important;
}

div#topGraphicBox, td.even, td.odd {
 background:transparent!important;
}

html {
 width:100%;
 height:100%;
 background:#e8e8e8;
}

body {
 background:#e8e8e8;
}

div#innerSettingsBlock {
 height:calc(100vh - 88px)!important;
}

* {
 font-size:16px !important;
 font-family:'Roboto';
 font-weight:400;
}

.homeMenuSection div, .settingSection div, #playingStatus, #currentPlaylistLabel, .stdedit, .exlisting, p, ol, ul, dl, dd, td, .exboldlisting, th, h5, a {
 color: black !important;
}

select option[value=INTERFACE_SETTINGS] {
 display: none
}

.homeMenuSection div, .settingSection .groupHead, .settingSection .prefHead {
 background-color: transparent;
 height: 15px;
 padding: 8px 6px 4px 0px;
 font-weight: bold;
}

select {
 background-color: #e8e8e8;
 border: none;
 border-bottom: 1px solid #000;
}

select:focus {
 outline: none;
}

input[type="text"] {
 background-color: #f8f8f8;
 border: none;
 border-bottom: 1px solid #000;
 min-width:80px;
}

input[type="text"]:focus {
 background-color: white;
 outline: none;
}

input[type="submit"], input[type="button"] {
 color: black !important;
 background-color: #ccc;
 border: none;
 border-radius: 3px;
 border-bottom: 1px solid #aaa;
 text-transform: uppercase;
 padding:4px 8px 2px 8px;
}

#saveSettings {
 color: white !important;
 background-color: #1976d2;
}

input[type=checkbox] {
 width:18px;
 height:18px;
}

::-webkit-scrollbar {
 max-height:10px;
 max-width:10px;
}

::-webkit-scrollbar {
 background:#c0c0c0;
}

::-webkit-scrollbar-thumb {
 background:#888;
}

::-webkit-scrollbar-corner {
 background:#ddd;
}
