html, body, .stdedit, select, input[type="text"], div#topGraphicMenu3, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 background:white !important;
}

html, body, .homeMenuSection div, .settingSection div, #playingStatus, #currentPlaylistLabel, .stdedit, .exlisting, p, ol, ul, dl, dd, td, .exboldlisting, th, h5, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 color: black !important;
}

hr {
 border:0.5px solid #bbb;
}
a {
 color: #1976d2;
}

select {
 border-bottom: 1px solid black;
}

input[type="text"], input[type="password"] {
 color:black;
 border-bottom: 1px solid black;
}

input[type="text"]:focus, input[type="password"]:focus, .stdedit:focus {
 border-bottom: 1px solid #1976d2;
}

input[type="submit"], input[type="button"] {
 color: black !important;
 background-color: #ccc;
 border-bottom: 1px solid #aaa;
}

input[type="submit"]:hover, input[type="button"]:hover {
 background-color: #ddd;
}

input[type="submit"]:active, input[type="button"]:active {
 border-bottom: 1px solid transparent;
}

::-webkit-scrollbar {
 background:#c0c0c0;
}

::-webkit-scrollbar-thumb {
 background:#888;
}

::-webkit-scrollbar-corner {
 background:#ddd;
}
