html, body, .stdedit, select, input[type="text"], div#topGraphicMenu3, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, td, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 background-color:#424242 !important;
}

html, body, .homeMenuSection div, .settingSection div, #playingStatus, #currentPlaylistLabel, #statusarea, .stdedit, .exlisting, p, ol, ul, dl, dd, td, .exboldlisting, th, h5, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li, select, b {
 color: white !important;
}

.browsedbLeftControls > a:nth-of-type(1):before {
 color: white !important;
}
.browsedbLeftControls > a:nth-of-type(2):before {
 color: white !important;
}

hr {
 border:0.5px solid #888;
}

div.prefDesc, p, td[colspan="5"] { /* colspan=5 for additional browse modes */
 color:rgba(255, 255, 255, 0.7) !important;
}

p input, p label {
 color: white !important;
}


#prefsSubmit {
 border-top:1px solid #888;
}

tbody tr.odd td, div.odd {
 background-color:#494949 !important;
}

div.even {
 background-color:#424242 !important;
}

a {
 color: #82b1ff;
}

select {
 border-bottom: 1px solid white;
 background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%2212px%22%20y%3D%220px%22%20width%3D%2224px%22%20height%3D%225px%22%20viewBox%3D%220%200%206%203%22%20enable-background%3D%22new%200%200%206%203%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22%23fff%22%3E%3Cpolygon%20points%3D%225.992%2C0%202.992%2C3%20-0.008%2C0%20%22/%3E%3C/svg%3E);
 background-position: 100% center;
 background-repeat: no-repeat;
 padding-right:28px;
}

input[type="text"], input[type="password"], input[type="stdedit"] {
 background:#424242 !important;
 color:white;
 border-bottom: 1px solid white;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="stdedit"]:focus, .stdedit:focus {
 border-bottom: 1px solid #82b1ff;
}

/* text enty auto-complete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 -webkit-text-fill-color: white;
 -webkit-box-shadow: 0 0 0px 1000px #424242 inset;
 transition: background-color 5000s ease-in-out 0s;
}

input[type="submit"], input[type="button"] {
 color: white !important;
 background-color: transparent;
 border:none;
}

input[type="submit"]:hover, input[type="button"]:hover {
 background-color: #5F5F5F;
}

input[type="submit"]:active, input[type="button"]:active {
 background-color: #6F6F6F;
}

input[type=checkbox]:before, input[type=radio]:before {
 color:white;
}

input[type=checkbox]:checked:before, input[type=radio]:checked:before {
 color:#89abff;
}

::-webkit-scrollbar {
 background:#3d3d3d;
}

::-webkit-scrollbar-thumb {
 background:#777;
}

::-webkit-scrollbar-corner {
 background:#333;
}
