::-webkit-scrollbar {
 width:2px!important;
 background-color:transparent;
 opacity:50%!important;
}
::-webkit-scrollbar-thumb {
 background:var(--mobile-scrollbar-thumb-color);
 border-radius:2px!important;
 border-left:none!important;
 border-right:none!important;
}
::-webkit-scrollbar-thumb:hover {
 background:var(--mobile-scrollbar-thumb-color);
}
::-webkit-scrollbar-track {
 -webkit-box-shadow: none!important;
 background-color:transparent;
}
