:root {
 --dialog-list-max-width:900px;
}

#sdi_logo, #topGraphicMenu1, #topGraphicMenu2, #statusMessage a, .playericon, .largeAttribute {
 display:none;
}

/* -- Advanced search mods...--  */
#advSearchForm {
 margin-top:-32px;
}
#advSearchForm > table > tbody > tr > td:nth-of-type(1) {
 text-align:right !important;
 padding-right:8px !important;
}
#advSearchForm > table > tbody > tr > td {
 padding-bottom:8px;
}
div#browsedbList {
 margin-left:-8px;
 margin-right:-8px;
}

#advSearchForm, #browsedbHeader, #browsedbList {
 width:100%!important;
 max-width:var(--dialog-list-max-width)!important;
 margin-left:auto!important;
 margin-right:auto!important;
}
.pagebar > a, .pagebar > a > img, .pagebar > b, .browsedbLeftControls > a {
 vertical-align:middle;
}
.pagebar > a > img {
 width:24px!important;
 height:24px!important;
}
#statusarea {
 padding-top:52px;
 font-weight:bold;
}

#choose_setting {
 margin-left:-8px;
 margin-bottom:8px;
 margin-top:8px;
 font-size:16px !important;
 font-weight:500 !important;
 border-radius: 0px;
}

#choose_setting optgroup {
 font-weight: 400;
}

#statusMessage {
 color:transparent!important;
}

#prefsSubmit {
 color:transparent!important;
 background-color:transparent!important;
 border-top:1px solid var(--list-item-border-color);
}

div#topGraphicMenu3 {
 height:22px;
 background:transparent!important;
}

div#topGraphicBox, tbody, td.even, td.odd, div.odd, div.even {
 background:transparent!important;
}

.browsedbListItem {
 border-bottom:1px solid var(--list-item-border-color);
}

hr {
 border:0.5px solid var(--list-item-border-color);
 margin-right:8px;
}

.browsedbLeftControls > a {
 padding-top:8px;
}

html {
 width:100%;
 height:100%;
}

body {
 margin-top:0px;
}

@media screen and (min-width: 1300px) {
 body {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
 }
}

td input { /* Fix entry/combo alignment in additional browse modes */
 margin-bottom:-1px;
 padding-bottom:0px;
}

/* Advanced search */
.border tbody tr td input[type=text] {
 padding-bottom:1px;
}
.border tbody tr td.content {
 vertical-align: text-bottom !important;
}

div.prefDesc, div.prefDesc a, p {
 font-size:14px!important;
}

table {
 padding-right:14px;
}

div#innerSettingsBlock {
 width:calc(100vw - 36px)!important;
 padding: 0px 21px 0px 7px;
}

@media screen and (min-width: 1300px) {
 div#innerSettingsBlock {
  width:100%!important;
 }
}

*, body, table, input, select, textarea, p, l {
 font-size:16px !important;
 font-family:Roboto,sans-serif !important;
 text-rendering: optimizeLegibility;
 line-height: 1.2;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.homeMenuSection div, .settingSection .groupHead, .settingSection .prefHead {
 background-color: transparent;
 min-height: 15px;
 height: auto !important;
 padding: 8px 6px 4px 0px;
 font-weight: 500;
 text-transform: none;
}

select, input {
 min-height:24px;
 cursor: pointer;
}

input[type="text"], input[type="button"], input[type="submit"], input[type=checkbox], input[type=radio], select {
 -webkit-appearance: none;
 appearance: none;
}

select::-ms-expand {
 display: none;
}

select:not([multiple]) {
 border: none;
 text-overflow:ellipsis;
 overflow:hidden;
 white-space:nowrap;
 max-width:calc(100vw - 32px);
 border-radius: 0px;
 min-height:26px;
 margin-bottom:1px;
 background-position: 100% center;
 background-repeat: no-repeat;
 padding-right:25px;
}

select:not([multiple]):focus {
 outline: none;
}

select[multiple] {
 border: 1px solid var(--text-color);
}

select[multiple]:focus {
 border: 1px solid var(--active-color);
}

input[type="text"], input[type="password"], input[type="stdedit"], input.stdedit {
 border: none;
 border-bottom: 1px solid var(--text-color);
 min-width:80px;
 max-width:calc(100vw - 32px);
 border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="stdedit"]:focus, input.stdedit:focus, input[type=checkbox]:focus, input[type=radio]:focus {
 outline: none!important;
 border-bottom: 1px solid var(--active-color);
}

input[type="submit"], input[type="button"] {
 border: none;
 border-radius: 3px;
 text-transform: uppercase;
 padding:5px 8px 5px 8px;
 outline: none;
}

input[type=checkbox], input[type=radio] {
 vertical-align: middle;
 width:24px;
 height:24px;
}

.msk-dir-btn:before, input[type=checkbox]:before, input[type=radio]:before {
 vertical-align: middle!important;
 font-family: "Material Icons"!important;
 font-size:24px!important;
 line-height:24px!important;
 text-decoration:none!important;
}

.msk-dir-btn:before {
 content:"folder";
 line-height:32px!important;
}

.msk-dir-btn {
 width:32px;
 height:32px;
 border-radius:50%;
 display:inline-block;
 text-align:center;
}

input[type=checkbox]:before {
 content:"check_box_outline_blank";
}

input[type=checkbox]:checked:before {
 content:"check_box";
}

input[type=checkbox], input[type=radio] {
 border:none;
 background-color: transparent;
}

[type="checkbox"]:focus, [type="radio"]:focus {
 border-bottom: none !important;
}

input[type=radio]:before {
 content:"radio_button_unchecked";
}

input[type=radio]:checked:before {
 content:"radio_button_checked";
}

[type="checkbox"]:before, [type="radio"]:before {
 border: 1px solid transparent;
}

#saveSettings {
 color: #edece7 !important;
 background-color: var(--primary-color) !important;
 margin-top:8px;
}

#saveSettings:active {
 opacity:0.8;
}

::-webkit-scrollbar {
 max-height:10px;
 max-width:10px;
}

html, body, .stdedit, select, input[type="text"], div#topGraphicMenu3, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, td, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li {
 background-color:var(--background-color) !important;
}

html, body, .homeMenuSection div, .settingSection div, #playingStatus, #currentPlaylistLabel, #statusarea, .stdedit, .exlisting, p, ol, ul, dl, dd, td, .exboldlisting, th, h5, .prefDesc, .groupDesc, .groupHead, .homeMenuSection div, .settingSection, .settingSection .groupHead, .settingSection .prefHead, li, select, b, pre, code {
 color: var(--text-color) !important;
}

pre, code {
 font-family:'Roboto Mono', monospace !important;
}

.browsedbLeftControls > a:before {
 color: var(--text-color) !important;
}

p input, p label {
 color: var(--text-color) !important;
}

div.even {
 background-color:var(--background-color) !important;
}

a {
 color: var(--active-color);
}

a:focus {
 border-bottom: 1px solid var(--active-color);
}

input[type="text"], input[type="password"], input[type="stdedit"] {
 background:var(--background-color) !important;
 color:var(--text-color);
 border-bottom: 1px solid var(--text-color);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="stdedit"]:focus, .stdedit:focus, select:focus {
 border-bottom: 1px solid var(--active-color);
}

textarea {
 border: 1px solid var(--list-item-border-color);
}

textarea:focus {
 border: 1px solid var(--active-color);
}

/* text enty auto-complete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 -webkit-text-fill-color: var(--text-color);
 -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
 transition: background-color 5000s ease-in-out 0s;
}

input[type="submit"], input[type="button"] {
 color: var(--text-color) !important;
 background-color: transparent;
 border:none;
}

input[type=checkbox]:before, input[type=radio]:before {
 color:var(--text-color);
}

input[type=checkbox]:checked:before, input[type=radio]:checked:before {
 color:var(--active-color);
}

[type="checkbox"]:focus:before, [type="radio"]:focus:before {
 border: 1px solid var(--active-color);
 border-radius:3px;
}

::-webkit-scrollbar {
 background:var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
 background:var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-corner {
 background:var(--scrollbar-corner-color);
}

/* Progress bars (e.g. scan) */
img[src*="bar_small_empty.gif"] {
 border:1px solid var(--active-color);
 border-radius:50%;
 width:10px !important;
 height:10px !important;
 margin-right:2px;
}

img[src*="bar_small_empty.gif"]:first-child,
img[src*="bar_small_full.gif"]:first-child {
 margin-left:6px;
}

img[src*="bar_small_full.gif"] {
 background-color:var(--active-color);
 border:1px solid var(--active-color);
 border-radius:50%;
 width:10px !important;
 height:10px !important;
 margin-right:2px;
}

div#Info0, div#Info1, div#Info2, div#Info3, div#Info4, div#Info5, div#Info6, div#Info7, div#Info8, div#Info9, div#Info10, div#Info11, div#Info12, div#Info13, div#Info14 {
 margin-left:6px;
 opacity:0.7;
 font-size:14px!important;
}

.progressItem {
 margin-bottom:-8px;
}

.msk-cs-touch-img {
 padding-right:4px;
}

/* SugarCube headers */
#homeMenu table.topside thead th {
 border-radius:0px;
 text-align:initial;
}

/* Inguz */
.songInfoText .stdclick {
 width:initial!important;
}

.hiddenDesc {
 display:contents!important;
}

hr.main-sep {
 opacity:0.4!important;
 border:0.25px solid var(--text-color)!important;
}

hr.sub-sep {
 opacity:0.2!important;
 border:0.25px solid var(--text-color)!important;
}
